/* !********** CUSTOM VARIABLES ********* */
:root {
  /* *** FONTS *** */
  --primary-font-family: "Roboto", sans-serif;
  --heading-font-family: "Modak", cursive;

  /* *** COLORS *** */
  --primary-background-color: #7b2f0e;
  --secondary-background-color: #efe7dd;
  --tertiary-background-color: #c17a48;
  --primary-color: #ffffff;
  --secondary-color: #360408;
  --tertiary-color: #dab897;
}

/* !********** GENERAL ********* */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-background-color);
  font-size: 16px;
  font-family: var(--primary-font-family);
  color: var(--primary-color);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* ********** MEDIA QUERIES ********* */
